# Set-Up

In [16]:
import numpy as np
from kagglehub import KaggleDatasetAdapter, dataset_load
from dotenv import load_dotenv
import pandas as pd
from pandas.api.types import CategoricalDtype

In [17]:
_ = load_dotenv()

# Data-Fetching

In [18]:
# Type hint added because dataset_load returns Any, but will return a DataFrame in this case, as we're using the adapter. This is just for convenience from the IDE (auto-complete, typo-checking, etc).
df: pd.DataFrame = dataset_load(
    adapter=KaggleDatasetAdapter.PANDAS,
    handle="miroslavsabo/young-people-survey",
    path="responses.csv",
)

# Exploration

In [19]:
df.describe()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Shopping centres,Branded clothing,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings
count,1007.000000,1008.000000,1006.000000,1005.000000,1005.000000,1003.000000,1008.000000,1007.000000,1004.000000,1007.000000,...,1008.000000,1008.000000,1007.000000,1007.000000,1010.000000,1008.00000,1003.000000,990.000000,990.000000,1004.000000
mean,4.731877,3.328373,3.113320,2.288557,2.123383,2.956132,2.761905,3.471698,3.761952,2.361470,...,3.234127,3.050595,3.201589,3.106256,2.870297,3.55754,20.433699,173.514141,66.405051,1.297809
std,0.664049,0.833931,1.170568,1.138916,1.076136,1.252570,1.260845,1.161400,1.184861,1.372995,...,1.323062,1.306321,1.188947,1.205368,1.284970,1.09375,2.828840,10.024505,13.839561,1.013348
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,15.000000,62.000000,41.000000,0.000000
25%,5.000000,3.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,3.00000,19.000000,167.000000,55.000000,1.000000
50%,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,4.00000,20.000000,173.000000,64.000000,1.000000
75%,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000,22.000000,180.000000,75.000000,2.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,30.000000,203.000000,165.000000,10.000000

In [20]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 150 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    Music                           1007 non-null   float64
 1    Slow songs or fast songs        1008 non-null   float64
 2    Dance                           1006 non-null   float64
 3    Folk                            1005 non-null   float64
 4    Country                         1005 non-null   float64
 5    Classical music                 1003 non-null   float64
 6    Musical                         1008 non-null   float64
 7    Pop                             1007 non-null   float64
 8    Rock                            1004 non-null   float64
 9    Metal or Hardrock               1007 non-null   float64
 10   Punk                            1002 non-null   float64
 11   Hiphop, Rap                     1006 non-null   float64
 12   Reggae, Ska                     1003 non-null   float64
 13   Swing, Jazz                     1004 non-null   float64
 14   Rock n roll                     1003 non-null   float64
 15   Alternative                     1003 non-null   float64
 16   Latino                          1002 non-null   float64
 17   Techno, Trance                  1003 non-null   float64
 18   Opera                           1009 non-null   float64
 19   Movies                          1004 non-null   float64
 20   Horror                          1008 non-null   float64
 21   Thriller                        1009 non-null   float64
 22   Comedy                          1007 non-null   float64
 23   Romantic                        1007 non-null   float64
 24   Sci-fi                          1008 non-null   float64
 25   War                             1008 non-null   float64
 26   Fantasy/Fairy tales             1007 non-null   float64
 27   Animated                        1007 non-null   float64
 28   Documentary                     1002 non-null   float64
 29   Western                         1006 non-null   float64
 30   Action                          1008 non-null   float64
 31   History                         1008 non-null   float64
 32   Psychology                      1005 non-null   float64
 33   Politics                        1009 non-null   float64
 34   Mathematics                     1007 non-null   float64
 35   Physics                         1007 non-null   float64
 36   Internet                        1006 non-null   float64
 37   PC                              1004 non-null   float64
 38   Economy Management              1005 non-null   float64
 39   Biology                         1004 non-null   float64
 40   Chemistry                       1000 non-null   float64
 41   Reading                         1004 non-null   float64
 42   Geography                       1001 non-null   float64
 43   Foreign languages               1005 non-null   float64
 44   Medicine                        1005 non-null   float64
 45   Law                             1009 non-null   float64
 46   Cars                            1006 non-null   float64
 47   Art exhibitions                 1004 non-null   float64
 48   Religion                        1007 non-null   float64
 49   Countryside, outdoors           1003 non-null   float64
 50   Dancing                         1007 non-null   float64
 51   Musical instruments             1009 non-null   float64
 52   Writing                         1004 non-null   float64
 53   Passive sport                   995 non-null    float64
 54   Active sport                    1006 non-null   float64
 55   Gardening                       1003 non-null   float64
 56   Celebrities                     1008 non-null   float64
 57   Shopping                        1008 non-null   float64
 58   Science and technology          1004 non-null   float64
 59   Theatre                         1002 non-null   float64
 60   Fun with friends                1006 non-null   float64
 61   Adrenaline sports               1007 non-null   float64
 62   Pets                            1006 non-null   float64
 63   Flying                          1007 non-null   float64
 64   Storm                           1009 non-null   float64
 65   Darkness                        1008 non-null   float64
 66   Heights                         1007 non-null   float64
 67   Spiders                         1005 non-null   float64
 68   Snakes                          1010 non-null   int64
 69   Rats                            1007 non-null   float64
 70   Ageing                          1009 non-null   float64
 71   Dangerous dogs                  1009 non-null   float64
 72   Fear of public speaking         1009 non-null   float64
 73   Smoking                         1002 non-null   object
 74   Alcohol                         1005 non-null   object
 75   Healthy eating                  1007 non-null   float64
 76   Daily events                    1003 non-null   float64
 77   Prioritising workload           1005 non-null   float64
 78   Writing notes                   1007 non-null   float64
 79   Workaholism                     1005 non-null   float64
 80   Thinking ahead                  1007 non-null   float64
 81   Final judgement                 1003 non-null   float64
 82   Reliability                     1006 non-null   float64
 83   Keeping promises                1009 non-null   float64
 84   Loss of interest                1006 non-null   float64
 85   Friends versus money            1004 non-null   float64
 86   Funniness                       1006 non-null   float64
 87   Fake                            1009 non-null   float64
 88   Criminal damage                 1003 non-null   float64
 89   Decision making                 1006 non-null   float64
 90   Elections                       1007 non-null   float64
 91   Self-criticism                  1005 non-null   float64
 92   Judgment calls                  1006 non-null   float64
 93   Hypochondria                    1006 non-null   float64
 94   Empathy                         1005 non-null   float64
 95   Eating to survive               1010 non-null   int64
 96   Giving                          1004 non-null   float64
 97   Compassion to animals           1003 non-null   float64
 98   Borrowed stuff                  1008 non-null   float64
 99   Loneliness                      1009 non-null   float64
 100  Cheating in school              1006 non-null   float64
 101  Health                          1009 non-null   float64
 102  Changing the past               1008 non-null   float64
 103  God                             1008 non-null   float64
 104  Dreams                          1010 non-null   int64
 105  Charity                         1007 non-null   float64
 106  Number of friends               1010 non-null   int64
 107  Punctuality                     1008 non-null   object
 108  Lying                           1008 non-null   object
 109  Waiting                         1007 non-null   float64
 110  New environment                 1008 non-null   float64
 111  Mood swings                     1006 non-null   float64
 112  Appearence and gestures         1007 non-null   float64
 113  Socializing                     1005 non-null   float64
 114  Achievements                    1008 non-null   float64
 115  Responding to a serious letter  1004 non-null   float64
 116  Children                        1006 non-null   float64
 117  Assertiveness                   1008 non-null   float64
 118  Getting angry                   1006 non-null   float64
 119  Knowing the right people        1008 non-null   float64
 120  Public speaking                 1008 non-null   float64
 121  Unpopularity                    1007 non-null   float64
 122  Life struggles                  1007 non-null   float64
 123  Happiness in life               1006 non-null   float64
 124  Energy levels                   1005 non-null   float64
 125  Small - big dogs                1006 non-null   float64
 126  Personality                     1006 non-null   float64
 127  Finding lost valuables          1006 non-null   float64
 128  Getting up                      1005 non-null   float64
 129  Interests or hobbies            1007 non-null   float64
 130  Parents' advice                 1008 non-null   float64
 131  Questionnaires or polls         1006 non-null   float64
 132  Internet usage                  1010 non-null   object
 133  Finances                        1007 non-null   float64
 134  Shopping centres                1008 non-null   float64
 135  Branded clothing                1008 non-null   float64
 136  Entertainment spending          1007 non-null   float64
 137  Spending on looks               1007 non-null   float64
 138  Spending on gadgets             1010 non-null   int64
 139  Spending on healthy eating      1008 non-null   float64
 140  Age                             1003 non-null   float64
 141  Height                          990 non-null    float64
 142  Weight                          990 non-null    float64
 143  Number of siblings              1004 non-null   float64
 144  Gender                          1004 non-null   object
 145  Left - right handed             1007 non-null   object
 146  Education                       1009 non-null   object
 147  Only child                      1008 non-null   object
 148  Village - town                  1006 non-null   object
 149  House - block of flats          1006 non-null   object
dtypes: float64(134), int64(5), object(11)
memory usage: 1.2+ MB

Most of the columns actually appear to be integers, and of those, most are Likert (1-5). Some object types are actually strings, which haven't been converted to categorical types, and will need to be done manually, as some are ordinal, and the ordering was probably lost.

# Cleaning

## Simple type conversion

In [21]:
df = df.convert_dtypes()

In [22]:
df.describe()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Shopping centres,Branded clothing,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings
count,1007.0,1008.0,1006.0,1005.0,1005.0,1003.0,1008.0,1007.0,1004.0,1007.0,...,1008.0,1008.0,1007.0,1007.0,1010.0,1008.0,1003.0,990.0,990.0,1004.0
mean,4.731877,3.328373,3.11332,2.288557,2.123383,2.956132,2.761905,3.471698,3.761952,2.36147,...,3.234127,3.050595,3.201589,3.106256,2.870297,3.55754,20.433699,173.514141,66.405051,1.297809
std,0.664049,0.833931,1.170568,1.138916,1.076136,1.25257,1.260845,1.1614,1.184861,1.372995,...,1.323062,1.306321,1.188947,1.205368,1.28497,1.09375,2.82884,10.024505,13.839561,1.013348
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,15.0,62.0,41.0,0.0
25%,5.0,3.0,2.0,1.0,1.0,2.0,2.0,3.0,3.0,1.0,...,2.0,2.0,2.0,2.0,2.0,3.0,19.0,167.0,55.0,1.0
50%,5.0,3.0,3.0,2.0,2.0,3.0,3.0,4.0,4.0,2.0,...,3.0,3.0,3.0,3.0,3.0,4.0,20.0,173.0,64.0,1.0
75%,5.0,4.0,4.0,3.0,3.0,4.0,4.0,4.0,5.0,3.0,...,4.0,4.0,4.0,4.0,4.0,4.0,22.0,180.0,75.0,2.0
max,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,30.0,203.0,165.0,10.0

In [23]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 150 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    Music                           1007 non-null   Int64
 1    Slow songs or fast songs        1008 non-null   Int64
 2    Dance                           1006 non-null   Int64
 3    Folk                            1005 non-null   Int64
 4    Country                         1005 non-null   Int64
 5    Classical music                 1003 non-null   Int64
 6    Musical                         1008 non-null   Int64
 7    Pop                             1007 non-null   Int64
 8    Rock                            1004 non-null   Int64
 9    Metal or Hardrock               1007 non-null   Int64
 10   Punk                            1002 non-null   Int64
 11   Hiphop, Rap                     1006 non-null   Int64
 12   Reggae, Ska                     1003 non-null   Int64
 13   Swing, Jazz                     1004 non-null   Int64
 14   Rock n roll                     1003 non-null   Int64
 15   Alternative                     1003 non-null   Int64
 16   Latino                          1002 non-null   Int64
 17   Techno, Trance                  1003 non-null   Int64
 18   Opera                           1009 non-null   Int64
 19   Movies                          1004 non-null   Int64
 20   Horror                          1008 non-null   Int64
 21   Thriller                        1009 non-null   Int64
 22   Comedy                          1007 non-null   Int64
 23   Romantic                        1007 non-null   Int64
 24   Sci-fi                          1008 non-null   Int64
 25   War                             1008 non-null   Int64
 26   Fantasy/Fairy tales             1007 non-null   Int64
 27   Animated                        1007 non-null   Int64
 28   Documentary                     1002 non-null   Int64
 29   Western                         1006 non-null   Int64
 30   Action                          1008 non-null   Int64
 31   History                         1008 non-null   Int64
 32   Psychology                      1005 non-null   Int64
 33   Politics                        1009 non-null   Int64
 34   Mathematics                     1007 non-null   Int64
 35   Physics                         1007 non-null   Int64
 36   Internet                        1006 non-null   Int64
 37   PC                              1004 non-null   Int64
 38   Economy Management              1005 non-null   Int64
 39   Biology                         1004 non-null   Int64
 40   Chemistry                       1000 non-null   Int64
 41   Reading                         1004 non-null   Int64
 42   Geography                       1001 non-null   Int64
 43   Foreign languages               1005 non-null   Int64
 44   Medicine                        1005 non-null   Int64
 45   Law                             1009 non-null   Int64
 46   Cars                            1006 non-null   Int64
 47   Art exhibitions                 1004 non-null   Int64
 48   Religion                        1007 non-null   Int64
 49   Countryside, outdoors           1003 non-null   Int64
 50   Dancing                         1007 non-null   Int64
 51   Musical instruments             1009 non-null   Int64
 52   Writing                         1004 non-null   Int64
 53   Passive sport                   995 non-null    Int64
 54   Active sport                    1006 non-null   Int64
 55   Gardening                       1003 non-null   Int64
 56   Celebrities                     1008 non-null   Int64
 57   Shopping                        1008 non-null   Int64
 58   Science and technology          1004 non-null   Int64
 59   Theatre                         1002 non-null   Int64
 60   Fun with friends                1006 non-null   Int64
 61   Adrenaline sports               1007 non-null   Int64
 62   Pets                            1006 non-null   Int64
 63   Flying                          1007 non-null   Int64
 64   Storm                           1009 non-null   Int64
 65   Darkness                        1008 non-null   Int64
 66   Heights                         1007 non-null   Int64
 67   Spiders                         1005 non-null   Int64
 68   Snakes                          1010 non-null   Int64
 69   Rats                            1007 non-null   Int64
 70   Ageing                          1009 non-null   Int64
 71   Dangerous dogs                  1009 non-null   Int64
 72   Fear of public speaking         1009 non-null   Int64
 73   Smoking                         1002 non-null   string
 74   Alcohol                         1005 non-null   string
 75   Healthy eating                  1007 non-null   Int64
 76   Daily events                    1003 non-null   Int64
 77   Prioritising workload           1005 non-null   Int64
 78   Writing notes                   1007 non-null   Int64
 79   Workaholism                     1005 non-null   Int64
 80   Thinking ahead                  1007 non-null   Int64
 81   Final judgement                 1003 non-null   Int64
 82   Reliability                     1006 non-null   Int64
 83   Keeping promises                1009 non-null   Int64
 84   Loss of interest                1006 non-null   Int64
 85   Friends versus money            1004 non-null   Int64
 86   Funniness                       1006 non-null   Int64
 87   Fake                            1009 non-null   Int64
 88   Criminal damage                 1003 non-null   Int64
 89   Decision making                 1006 non-null   Int64
 90   Elections                       1007 non-null   Int64
 91   Self-criticism                  1005 non-null   Int64
 92   Judgment calls                  1006 non-null   Int64
 93   Hypochondria                    1006 non-null   Int64
 94   Empathy                         1005 non-null   Int64
 95   Eating to survive               1010 non-null   Int64
 96   Giving                          1004 non-null   Int64
 97   Compassion to animals           1003 non-null   Int64
 98   Borrowed stuff                  1008 non-null   Int64
 99   Loneliness                      1009 non-null   Int64
 100  Cheating in school              1006 non-null   Int64
 101  Health                          1009 non-null   Int64
 102  Changing the past               1008 non-null   Int64
 103  God                             1008 non-null   Int64
 104  Dreams                          1010 non-null   Int64
 105  Charity                         1007 non-null   Int64
 106  Number of friends               1010 non-null   Int64
 107  Punctuality                     1008 non-null   string
 108  Lying                           1008 non-null   string
 109  Waiting                         1007 non-null   Int64
 110  New environment                 1008 non-null   Int64
 111  Mood swings                     1006 non-null   Int64
 112  Appearence and gestures         1007 non-null   Int64
 113  Socializing                     1005 non-null   Int64
 114  Achievements                    1008 non-null   Int64
 115  Responding to a serious letter  1004 non-null   Int64
 116  Children                        1006 non-null   Int64
 117  Assertiveness                   1008 non-null   Int64
 118  Getting angry                   1006 non-null   Int64
 119  Knowing the right people        1008 non-null   Int64
 120  Public speaking                 1008 non-null   Int64
 121  Unpopularity                    1007 non-null   Int64
 122  Life struggles                  1007 non-null   Int64
 123  Happiness in life               1006 non-null   Int64
 124  Energy levels                   1005 non-null   Int64
 125  Small - big dogs                1006 non-null   Int64
 126  Personality                     1006 non-null   Int64
 127  Finding lost valuables          1006 non-null   Int64
 128  Getting up                      1005 non-null   Int64
 129  Interests or hobbies            1007 non-null   Int64
 130  Parents' advice                 1008 non-null   Int64
 131  Questionnaires or polls         1006 non-null   Int64
 132  Internet usage                  1010 non-null   string
 133  Finances                        1007 non-null   Int64
 134  Shopping centres                1008 non-null   Int64
 135  Branded clothing                1008 non-null   Int64
 136  Entertainment spending          1007 non-null   Int64
 137  Spending on looks               1007 non-null   Int64
 138  Spending on gadgets             1010 non-null   Int64
 139  Spending on healthy eating      1008 non-null   Int64
 140  Age                             1003 non-null   Int64
 141  Height                          990 non-null    Int64
 142  Weight                          990 non-null    Int64
 143  Number of siblings              1004 non-null   Int64
 144  Gender                          1004 non-null   string
 145  Left - right handed             1007 non-null   string
 146  Education                       1009 non-null   string
 147  Only child                      1008 non-null   string
 148  Village - town                  1006 non-null   string
 149  House - block of flats          1006 non-null   string
dtypes: Int64(139), string(11)
memory usage: 1.3 MB

## Rebuilding categories

The string-typed columns will need to be checked for the values they contain. There are only 11, so a hybrid eyeballing is optimal.

In [24]:
print(
    df.select_dtypes(include="string")
        .apply(
            lambda col: f"{col.name}\n" + "\n".join(f"  {v}" for v in col.unique())
        )
        .str
        .cat(sep="\n\n")
)

Smoking
  never smoked
  tried smoking
  former smoker
  current smoker
  <NA>

Alcohol
  drink a lot
  social drinker
  never
  <NA>

Punctuality
  i am always on time
  i am often early
  i am often running late
  <NA>

Lying
  never
  sometimes
  only to avoid hurting someone
  everytime it suits me
  <NA>

Internet usage
  few hours a day
  most of the day
  less than an hour a day
  no time at all

Gender
  female
  male
  <NA>

Left - right handed
  right handed
  left handed
  <NA>

Education
  college/bachelor degree
  secondary school
  primary school
  masters degree
  doctorate degree
  currently a primary school pupil
  <NA>

Only child
  no
  yes
  <NA>

Village - town
  village
  city
  <NA>

House - block of flats
  block of flats
  house/bungalow
  <NA>

The columns appear to be very clean. The only issue is most of these columns are obviously ordinal, and that information was lost, so it has to be manually defined.

In [25]:
df["Smoking"] = df["Smoking"].astype(CategoricalDtype(
    categories=[
        "never smoked",
        "tried smoking",
        "former smoker",
        "current smoker",
    ],
    ordered=True,
))

df["Alcohol"] = df["Alcohol"].astype(CategoricalDtype(
    categories=[
        "never",
        "social drinker",
        "drink a lot",
    ],
    ordered=True,
))

df["Punctuality"] = df["Punctuality"].astype(CategoricalDtype(
    categories=[
        "i am often running late",
        "i am often early",
        "i am always on time",
    ],
    ordered=True,
))

df["Lying"] = df["Lying"].astype(CategoricalDtype(
    categories=[
        "never",
        "sometimes",
        "only to avoid hurting someone",
        "everytime it suits me",
    ],
    ordered=True,
))

df["Internet usage"] = df["Internet usage"].astype(CategoricalDtype(
    categories=[
        "no time at all",
        "less than an hour a day",
        "few hours a day",
        "most of the day",
    ],
    ordered=True,
))

df["Gender"] = df["Gender"].astype(CategoricalDtype(
    categories=[
        "female",
        "male",
    ],
    ordered=False,
))

df["Left - right handed"] = df["Left - right handed"].astype(CategoricalDtype(
    categories=[
        "left handed",
        "right handed",
    ],
    ordered=False,
))

df["Education"] = df["Education"].astype(CategoricalDtype(
    categories=[
        "currently a primary school pupil",
        "primary school",
        "secondary school",
        "college/bachelor degree",
        "masters degree",
        "doctorate degree",
    ],
    ordered=True,
))

df["Only child"] = df["Only child"].astype(CategoricalDtype(
    categories=[
        "no",
        "yes",
    ],
    ordered=False,
))

df["Village - town"] = df["Village - town"].astype(CategoricalDtype(
    categories=[
        "village",
        "city",
    ],
    ordered=False,
))

df["House - block of flats"] = df["House - block of flats"].astype(CategoricalDtype(
    categories=[
        "block of flats",
        "house/bungalow",
    ],
    ordered=False,
))

In [26]:
df.select_dtypes("category").describe()

,Smoking,Alcohol,Punctuality,Lying,Internet usage,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
count,1002,1005,1008,1008,1010,1004,1007,1009,1008,1006,1006
unique,4,3,3,4,4,2,2,6,2,2,2
top,tried smoking,social drinker,i am always on time,sometimes,few hours a day,female,right handed,secondary school,no,city,block of flats
freq,430,659,399,549,744,593,906,621,754,707,595

In [27]:
df.select_dtypes("category").info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Smoking                 1002 non-null   category
 1   Alcohol                 1005 non-null   category
 2   Punctuality             1008 non-null   category
 3   Lying                   1008 non-null   category
 4   Internet usage          1010 non-null   category
 5   Gender                  1004 non-null   category
 6   Left - right handed     1007 non-null   category
 7   Education               1009 non-null   category
 8   Only child              1008 non-null   category
 9   Village - town          1006 non-null   category
 10  House - block of flats  1006 non-null   category
dtypes: category(11)
memory usage: 12.7 KB

## Filling NA for clustering

### Splitting column types for different fill methods

In [28]:
# Integer columns that are non-Likert.
integer_cols = ["Age", "Height", "Weight", "Number of siblings"]

# Integer columns that are Likert.
likert_cols = df.select_dtypes("number").columns.difference(integer_cols)

category_cols = [c for c in df.columns if isinstance(df[c].dtype, CategoricalDtype)]

ordinal_cols = [c for c in category_cols if df[c].dtype.ordered]

nomial_cols = list(set(category_cols).difference(ordinal_cols))

### Fill based on colum type

In [29]:
# We might want to revisit this to fill base on gender.

# Note: Converts all int columns to float columns.
# This allows for interpolated values.
df[integer_cols] = df[integer_cols]\
    .astype(float)\
    .fillna(df[integer_cols].median())

# Note: Converts all likert columns to float columns.
# This allows for interpolated values.
# We should consider probabilistic median rounding if normal rounding proves to be an issue.
df[likert_cols] = df[likert_cols]\
    .astype(float)\
    .fillna(df[likert_cols].median())

# Fill NA with the median response for each ordinal category, treating ordinals numerically.
df[ordinal_cols] = df[ordinal_cols].fillna(
    df[ordinal_cols].apply(
        lambda c: c.cat.categories[
            round(c.cat.codes.replace(-1, np.nan).median())
        ]
    )
)

df[nomial_cols] = df[nomial_cols].fillna(df[nomial_cols].mode().iloc[0])

### Check for NA

In [30]:
df.isna().sum().sum().item()

0